#body
  background-image: url("bgim2.jpg")
  background-repeat: no-repeat
  background-size: 100vw

.header
  text-align: center
  font-size: 5vw
  font-family: "Garamond",serif
  color: rgba(0,0,0,0.8)
  background: rgba(76,175,80,0.5)
  width: 100vw
  height: 12vh
  float: left

#map
color: rgba(0,0,0,1)
position: left
display: block
font-size: 3vw
height: 30vh
width:  30vw
margin-top: 10vh
margin-left: 4vw